<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="management.dao.ExpenditureDao">

    <resultMap id="expenditureResultMap" type="Expenditure">
        <id property="id" column="id"/>
        <id property="expenditureDate" column="expenditure_date"/>
        <id property="expenditureUse" column="expenditure_use"/>
        <id property="expenditureMoney" column="expenditure_money"/>
    </resultMap>
    <insert id="addExpenditure" parameterType="Expenditure">
         insert into expenditure value (NULL,#{expenditureDate},#{expenditureUse},#{expenditureMoney})
    </insert>

    <select id="showExpenditureByYear" resultMap="expenditureResultMap" parameterType="Expenditure">
         select * from expenditure where year (expenditure_date) = year (#{expenditureDate})
    </select>

    <select id="showExpenditureByMonth" resultMap="expenditureResultMap" parameterType="Expenditure">
         select * from expenditure where month (expenditure_date) = month (#{expenditureDate})
    </select>

    <select id="showExpenditureByYearAndMonth" resultMap="expenditureResultMap" parameterType="Expenditure">
        select * from expenditure where date_format(expenditure_date,'%Y-%m') = date_format(#{expenditureDate},'%Y-%m')
    </select>



</mapper>