<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="management.dao.FlowDao">
    <!--    用作登录-->
    <resultMap id="flowResultMap" type="Flow">
        <id property="id" column="id"/>
        <id property="flowDate" column="flow_date"/>
        <id property="inOrOut" column="in_out"/>
        <id property="supplyOrDemand" column="supply_demand"/>
        <id property="productName" column="product_name"/>
        <id property="size" column="size"/>
        <id property="perCost" column="per_cost"/>
        <id property="perSell" column="per_sell"/>
        <id property="count" column="count"/>
        <id property="total" column="total"/>
    </resultMap>
    <insert id="flowInputOrOutput" parameterType="management.pojo.Flow">
        insert into flow value (NULL,#{flowDate},#{inOrOut},#{supplyOrDemand},#{productName},#{size},#{perCost},#{perSell},#{count},#{total})
    </insert>

    <select id="showFlow" resultMap="flowResultMap" parameterType="Flow">
        select * from flow where date_format(flow_date,'%Y-%m') = date_format(#{flowDate},'%Y-%m')
    </select>
</mapper>